* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: 255, 255, 255;
    --clr-secondary: 20, 115, 252;
    --clr-tertiary: 255, 255, 255;
    --clr-background: 255, 255, 255;
    --font-size: calc(1vw + 1vh);
    --font-primary: 'Proxima Nova';
    --clr-font-primary: 32, 82, 132;
    --clr-revealer-layer-1: var(--clr-secondary);
    --clr-revealer-layer-2: var(--clr-primary);
    --clr-revealer-layer-3: var(--clr-secondary);
    --revealer-speed: 1500ms;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    position: absolute;
    overflow: hidden;
    min-height: 100%;
    background: rgb(var(--clr-background));
    font-family: var(--font-primary);
    font-size: var(--font-size);
    font-weight: normal;
    color: rgb(var(--clr-primary));
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 100vw;
    height: 100vh;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#intro .date {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    top: 60%;
    left: 0;
    right: auto;
    margin: 0;
    padding: .2em;
    padding-left: 1em;
    padding-right: 1em;
    width: auto;
    height: auto;
    background: rgba(var(--clr-secondary), 0.85);
    color: #fff;
    font-size: 3em;
    font-weight: 600;
    backdrop-filter: blur(5px);
    opacity: 0;
}

.header {
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 10;
    width: 100vw;
    height: 4.5em;
    padding-top: 1.5em;
    padding-bottom: .1em;
    font-size: 2em;
    font-weight: 300;
    background: rgb(56, 112, 249);
    background: linear-gradient(16deg, rgba(56, 112, 249, 1) 0%, rgba(81, 160, 245, 1) 25%, rgba(29, 68, 247, 1) 75%, rgba(29, 68, 247, 1) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
}

.header .title {
    display: inline-block;
    font-size: 2.5em;
    font-family: var(--font-primary);
    font-weight: 600;
    padding-left: .75em;
    padding-right: 0.125em;
    color: rgb(var(--clr-primary));
    text-transform: uppercase;
}

.header .date {
    display: inline-block;
    font-weight: 200;
    font-size: .4em;
    letter-spacing: -.0125em;
    color: rgb(var(--clr-primary));
    text-transform: none;
    padding-left: .75em;
    filter: none !important;
}

.content {
    display: grid;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .65em;
    width: 100vw;
    height: calc(100vh - 4.5em);
    padding: 0.75em;
    font-size: 2em;
    font-weight: 400;
    color: rgb(var(--clr-font-primary));
    /* background: rgba(255, 0, 0, 0.85); */
}

.card {
    display: flex;
    flex-direction: column;
    background: #E8F2FB;
    opacity: 0;
    /* border: 1px solid green; */
}

.card .wrapper {
    display: flex;
    height: 100%;
    /* border: 1px solid blue; */
}

.card .wrapper>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
    /* border: 1px solid red; */
}

.card .stock {
    display: flex;
    align-items: center;
    background: #D4E7F8;
    height: 4em;
    padding: .5em 1.35em;
    /* border: 1px solid fuchsia; */
}

.card .company_name {
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: -1pt;
    line-height: .9;
}

.card .change {
    font-size: 2em;
    font-weight: 400;
    letter-spacing: -1pt;
    line-height: 1.4;
    padding-left: .75em;
    padding-bottom: .75em;
}

.card .value.positive::before,
.card .percent.positive::before {
    content: '+';
}

.card .percent::after {
    content: '%';
}

.card .change-icon {
    align-items: center;
}

.card .icon {
    animation: MoveUpDown var(--anime-duration) linear infinite;
    /* animation: spin var(--anime-duration) linear infinite; */
    width: auto;
    height: 6em;
}

.card .icon.change-up {
    content: url('../img/arrow_up.png');
}

.card .icon.change-down {
    content: url('../img/arrow_down.png');
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

@keyframes MoveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.5em);
    }
}

.disclaimer {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    font-size: .35em;
    font-weight: 500;
    padding: 1em;
}

.disclaimer::after {
    content: 'Quotes delayed a minimum of 15 minutes.';
}

/* Revealer Effects */

#transition.revealer {
    transform: translate3d(-100%, -100%, 0px);
    opacity: 0.95;
}

#transition.revealer--right {
    width: 100vh;
    height: 100vw;
    transform: translate3d(-50%, -50%, 0px) rotate3d(0, 0, 1, -90deg) translate3d(0px, 100%, 0px);
}

#transition.revealer--bottom {
    width: 100vw;
    height: 100vh;
    transform: none;
}

#transition.revealer--top {
    width: 100vw;
    height: 100vh;
    transform: rotate3d(0, 0, 1, 180deg);
}

#transition.revealer--left {
    width: 100vh;
    height: 100vw;
    transform: translate3d(-50%, -50%, 0px) rotate3d(0, 0, 1, 90deg) translate3d(0px, 100%, 0px);
}

.revealer__layer.top {
    background: rgba(var(--clr-revealer-layer-1), 0.85);
}

.revealer__layer.middle {
    background: rgba(var(--clr-revealer-layer-2), 0.85);
}

.revealer__layer.bottom {
    background: rgba(var(--clr-revealer-layer-3), 0.85);
}