@font-face {
	font-family: 'HarmoniaSansStd-Bold';
	src: url(../../assets/fonts/HarmoniaSansStd-Bold.woff2) format('woff2'),
	url(../../assets/fonts/HarmoniaSansStd-Bold.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}