*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bmo-blue: #0079c1;
  --bmo-red: #ED1D24;
}

:root {
  --weather: 0, 100, 180;
  --fin: 41, 104, 229;
  --news: 41, 104, 229;
  --celeb: 253, 145, 50;
  --sports: 253, 145, 50;
  --font-primary: 'DaxPro';
  --font-size: calc(1vw + 1vh);
  --background: 0, 123, 192;
  --clr-primary: 0, 123, 192;
  --clr-secondary: 255, 255, 255;
  --clr-tertiary: 242, 242, 242;
  --clr-story-headline: 255, 255, 255;
  --clr-story-background: 20, 20, 20;
  --clr-revealer-layer-1: var(--clr-primary);
  --clr-revealer-layer-2: var(--clr-tertiary);
  --clr-revealer-layer-3: var(--clr-primary);
  --anime-speed: 1000ms;
  --anime-delay: 1000ms;
  --revealer-speed: 2000ms;
  --revealer-opacity: 1;
  --category: 'News';
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: none;
  user-select: none;
  background: rgb(var(--background));
  font-family: var(--font-primary);
  font-size: var(--font-size);
  /* background-image: url('../img/BHB3747K_4CR_SSPlasma_News.jpg'); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-container {
  aspect-ratio: 16/9;
  position: absolute;
  z-index: 100;
  /* width: 50%; */
  min-height: 60%;
  margin: 4em;
  font-size: .65em;
  overflow: hidden;
}

.article-container img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.story {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity var(--anime-speed) ease-in-out;
  transition-delay: calc(var(--anime-delay) / 2);
}

.story.visible {
  opacity: 1;
}

.story .text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: .5em 1em;
  font-size: 2.2em;
  font-weight: 400;
  line-height: 1.2;
  background: rgba(var(--clr-story-background), .9);
  color: rgba(var(--clr-story-headline), 1.0);
  text-shadow: .05em .05em 0 rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(10px);
  transition: transform var(--anime-speed), opacity var(--anime-speed);
  transition-delay: calc(var(--anime-delay) * 2);
  transform: translateY(15%);
  opacity: 0;
}

.story.visible .text {
  transition: transform var(--anime-speed), opacity var(--anime-speed);
  transition-delay: var(--anime-delay);
  transition-timing-function: ease-in-out;
  transform: translateY(0%);
  opacity: 1;
}

@media only screen and (orientation: portrait) {
  img {
    width: 120%;
    height: auto !important;
    /* transform: translateY(20%) scale(150%); */
  }

  .story .text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    line-height: 1.35;
    font-size: 2.5em;
  }
}

/** 
    Revealer styling
**/

#transition {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
}

.revealer.revealer--top {
  width: 100vw;
  height: 100vh;
  transform: rotate3d(0, 0, 1, 180deg);
}

.revealer.revealer--left {
  width: 100vh;
  height: 100vw;
  transform: translate3d(-50%, -50%, 0px) rotate3d(0, 0, 1, 90deg) translate3d(0px, 100%, 0px);
}

.revealer.revealer--bottom {
  width: 100vw;
  height: 100vh;
  transform: none;
}

.revealer.revealer--right {
  width: 100vh;
  height: 100vw;
  transform: translate3d(-50%, -50%, 0px) rotate3d(0, 0, 1, -90deg) translate3d(0px, 100%, 0px);
}

.revealer__layer.top {
  background: rgba(var(--clr-revealer-layer-1), var(--revealer-opacity));
}

.revealer__layer.middle {
  background: rgba(var(--clr-revealer-layer-2), var(--revealer-opacity));
}

.revealer__layer.bottom {
  background: rgba(var(--clr-revealer-layer-3), var(--revealer-opacity));
}

/* Background elements */

.content {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: 'DaxPro';
  color: white;
  overflow: hidden;
  opacity: 0;
}

.video-container {
  position: absolute;
  /* background-image: url('../img/bg_Bokeh_1920x1080.png'); */
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.roundel-container {
  position: absolute;
  transform: translateX(72.5%) translateY(15%);
  width: 100%;
  height: 100%;
}

.roundel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 4em;
  width: 4em;
  height: 4em;
}

.roundel .tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.roundel .text {
  display: block;
  position: relative;
  z-index: 2;
  line-height: 1;
  font-size: .65em;
  font-weight: 100;
}

.roundel .text.strong {
  font-weight: 500;
}

.roundel .circle {
  position: absolute;
  inset: 0;
  margin: auto;
}

.roundel .circle-white {
  margin: .125em;
  border: 2px solid white;
  border-radius: 50%;
}

.roundel .circle-inner {
  margin: .125em;
  background-color: var(--bmo-red);
  border-radius: 50%;
  z-index: 1;
}

.roundel .circle-white-solid {
  border-radius: 50%;
  background-color: transparent;
  border: .1rem solid white;
  width: 100%;
  height: 100%;
}

.roundel .circle-line {
  z-index: 1;
  top: 150%;
  width: .1rem;
  height: 2em;
  background-color: white;
  /* background-image: linear-gradient(white, rgba(255, 255, 255, 0)); */
}

.location,
.category {
  display: block;
  font-size: 2.4em;
  font-weight: 400;
  color: white;
}

.category::before {
  content: var(--category);
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-wrapper {
  display: flex;
  background: rgba(var(--clr-primary), 1.0);
}

.footer-wrapper>div {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: auto 1.5em;
  padding: 1em;
}

.footer-top {
  position: absolute;
  width: 100%;
  height: 1.5em;
  margin-top: -1em;
  background: rgba(var(--clr-secondary), 1.0);
  clip-path: polygon(0 60%, 83.5% 60%, 85% 5%, 86.5% 60%, 100% 60%, 100% 100%, 86% 100%, 85% 60%, 84% 100%, 0 100%);
}

.footer-left {
  align-items: flex-start;
}

.footer-right {
  align-items: flex-end;
  justify-content: center;
  text-align: right;
}

.footer-right .date {
  font-size: 1.4em;
}

.brand-logo {
  width: auto;
  height: 100%;
  /* margin: auto .5em; */
}