@font-face {
	font-family: 'HarmoniaSansProCyr-SemiBd';
	src: url(../../assets/fonts/HarmoniaSansProCyr-SemiBd.eot) format('embedded-opentype'),
	url(../../assets/fonts/HarmoniaSansProCyr-SemiBd.eot) format('embedded-opentype'),
	url(../../assets/fonts/HarmoniaSansProCyr-SemiBd.woff2) format('woff2'),
	url(../../assets/fonts/HarmoniaSansProCyr-SemiBd.woff) format('woff'),
	url(../../assets/fonts/HarmoniaSansProCyr-SemiBd.ttf) format('truetype');
	font-weight: 600;
	font-style: normal;
}