@font-face {
	font-family: 'DaxPro-Italic';
	src: url(../../assets/fonts/DaxPro-Italic.woff2) format('woff2'),
	url(../../assets/fonts/DaxPro-Italic.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}