@font-face {
	font-family: 'DaxPro-MediumItalic';
	src: url(../../assets/fonts/DaxPro-MediumItalic.woff2) format('woff2'),
	url(../../assets/fonts/DaxPro-MediumItalic.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}