@font-face {
	font-family: 'DaxPro-Light';
	src: url(../../assets/fonts/DaxPro-Light.woff2) format('woff2'),
	url(../../assets/fonts/DaxPro-Light.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}