@font-face {
	font-family: 'DaxPro-Medium';
	src: url(../../assets/fonts/DaxPro-Medium.woff2) format('woff2'),
	url(../../assets/fonts/DaxPro-Medium.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}