@font-face { font-family: 'Weather-Icons'; src: url('../fonts/artill_clean_icons-webfont.woff'); }
@font-face { font-family: 'Dax-Light'; src: url('../fonts/Dax-Light.otf'); }
@font-face { font-family: 'Dax-Bold'; src: url('../fonts/Dax-Bold.otf'); }
@font-face { font-family: 'Dax-Regular'; src: url('../fonts/Dax-Regular.otf'); }
@font-face { font-family: 'Dax-Medium'; src: url('../fonts/Dax-Medium.otf'); }

html {
    padding: 0;
    margin: 0;
	width: 100vw;
    height: 100vh;
	overflow: hidden;
    overflow-x: hidden;
}
body {
	background: #0079c1;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: #0079C1;
	background-size: cover;
	-webkit-transition: 1s opacity;
	transition: 1s opacity;
}

/* CSS ANIMATIONS */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation: fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;

	-webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	animation-duration: 1.5s;
}
.fade-in.one {
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
}
.fade-in.two {
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
.fade-in.three {
	-webkit-animation-delay: 1.6s;
	-moz-animation-delay: 1.6s;
	animation-delay: 1.6s;
}

/* HAPPY LITTLE CSS TRICKS */
.scalefix { transform: scaleY(1.0); } /* Scales the content to counteract 4:3 ratio screens */
.hidden { display: none; }
.clear { clear: both; }
.center { background-position: center; }
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.valign {
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.4);
}

ul {
	display: block;
    list-style-type: disc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 2vh;
}

/* Fade in list items one by one */
li {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  opacity: 0;
  -webkit-animation: fadeIn 0.5s 1;
  animation: fadeIn 0.5s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
li:nth-child(5n+1) {
  -webkit-animation-delay: 1.0s;
  animation-delay: 1.0s;
}
li:nth-child(5n+2) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
li:nth-child(5n+3) {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
li:nth-child(5n+4) {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

li:nth-child(5n+5) {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

/* RESPONSIVE 3 COLUMN LAYOUT 
.container:after {
    content: "";
    display: table;
    clear: both;
}
.container > div {
    float: left;
    width: 33.33vw;
    border: 1px solid red;
    box-sizing: border-box;
}
@media (max-width: 1024px) {
    .container > div {
        float: none;
        width: 100vw;
    }
}
*/

/* BRAND LOGOS */
.logo-bmo-en { background-image: url("../img/logo-bmo-en.svg"); background-position: left; margin: 0vh; height: 8vh; float: left; }
.logo-bmo-fr { background-image: url("../img/logo-bmo-fr.svg"); background-position: left; margin: 0vh; height: 8vh; float: left; }
.logo-news-en { background-image: url("../img/logo-reuters.svg"); background-position: right; margin: 2vh 0; height: 4vh; float: right; }
.logo-news-fr { background-image: url("../img/logo-tcp-fr.svg"); background-position: right; margin: 3vh 0; height: 2vh; float: right; }
.logo-twn-en { background-image: url("../img/logo-twn-en.svg"); background-position: left; }
.logo-twn-fr { background-image: url("../img/logo-twn-fr.svg"); background-position: left; }

section {
	display: table;
	margin: 0;
	padding: 12vh 8vw;
	width: 100vw;
	height: 100vh;
	border: 1px dashed white;
    box-sizing: border-box;
}
.container {
	margin: 0;
	padding: 0;
    clear: both;
	width: 100%;
	height: 100%;
}
.wrapper {
	display: table-cell;
	white-space: nowrap;
	width: 100vw;
	border: 1px dashed red;
    box-sizing: border-box;
}

/* NESTED COLUMN LAYOUT */
.group:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
 }
.group { 
	display: inline-block;
	width: 100%;
	padding: 0;	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.feed-columns .col {
	width: 33%;	
	float: left;
	padding: 0;
}
.logo {
	background-repeat: no-repeat;
	background-size: contain;
	width: 50%;
	vertical-align: middle;
}
.logo-bmo-alt {	
	background-repeat: no-repeat;
	background-size: contain;	
	height: 5em;
	padding: 1rem;
	margin-top: -4rem;
}

/* SECTION HEADER TITLE */
.header, .top, .title {
	font-size: 6vw;
	letter-spacing: -0.1vw;
	white-space: nowrap;
	color: white;
	border: 0px dashed red;
    box-sizing: border-box;
}
.top {
	font-family: Dax-Light;
}
.title {
	font-family: Dax-Medium;
}
.feed-data {
	padding: 6vh 1vw;
	font-family: Dax-Light;
	font-size: 3vw;
	line-height: 1.5;
	color: white;
	border: 1px dashed blue;
    box-sizing: border-box;
}
.weather-icon {
	font-family: Weather-Icons;
	font-size: 9em;	
	text-align: center;
	margin-left: -2rem;
}
.weather-icon-sm {
	font-family: Weather-Icons;
	font-size: 6em;	
	margin: -2rem 0 -2rem 0;
    text-align: center;
}
.weather-current {
	font-size: 6em;
	letter-spacing: -1.1rem;
	text-align: center;
	margin-left: -3rem;	
}
.weather-conditions {
	font-size: 1.9rem;	
	line-height: 1.6em;	
	padding-left: 10%;
	margin: auto;
}
.forecast-day {
    font-family: Dax-Medium;
    font-size: 2rem;
    text-align: center;
    margin: 0.5rem;
}
.forecast-temp {
    font-family: Dax-Light;
    font-size: 1.8em;
    text-align: right;
    letter-spacing: -0.2rem;
    margin: 0 1rem;
}
.divider {
    border-left: 1px solid rgba(255,255,255,1.0);
	margin: auto;

}

/* ----------- Detect 4/3 Resolution ----------- */
@media screen and (device-aspect-ratio: 4/3) { 
	section { transform: scaleX(0.33); }
	.scalefix { transform: scaleY(1.33); padding-top: 7vh; }
}
/* ----------- Detect VW 4/1 Resolution ----------- */
@media screen and (device-aspect-ratio: 4/1) { 
	section { transform: scaleX(0.33); }
	.scalefix { transform: scaleY(1.33); padding-top: 7vh; }
}