@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLT-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLT-Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLT-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLT-Black.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLT-Heavy.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLT-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

*,
:after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Avenir', sans-serif;
}

:root {
    --fnbo-light-green: 0, 99, 65;
    --fnbo-dark-green: 0, 74, 55;
}

:root {
    --font-size: calc(1vw + 1vh);
    --bg-primary: var(--clr-secondary);
    --clr-primary: 0, 99, 65;
    --clr-secondary: 0, 74, 55;
    --clr-tertiary: 242, 242, 242;
    --clr-quaternary: 20, 20, 20;
    --clr-white: 255, 255, 255;
    --clr-black: 0, 0, 0;
    --drop-shadow: .25rem .25rem 0 rgba(var(--clr-primary), );
    --clr-revealer-layer-1: rgba(var(--clr-primary), 0.8);
    --clr-revealer-layer-2: rgba(var(--clr-secondary), 0.8);
    --clr-revealer-layer-3: rgba(var(--clr-tertiary), 0.8);
    --revealer-speed: 2000ms;
    --revealer-opacity: 0.9;
    --revealer: 0;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(var(--clr-white));
    font-size: var(--font-size);
    cursor: none;
    user-select: none;
}

video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

video::-webkit-media-controls {
    opacity: 0;
    display: none !important;
}

main.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity var(--anime-speed);
    transition-delay: var(--anime-delay);
    opacity: 0;
}

.container .background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.container .background .photo {
    background-color: transparent;
    background-image: url('../img/default.jpg');
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    filter: blur(3px) contrast(120%) grayscale(50%);
    opacity: 0;
}

.container .background .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--clr-quaternary), 1.0);
    mix-blend-mode: soft-light;
    /* backdrop-filter: blur(0px); */
}

.container .header {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 25%;
    padding: 1.5em 4em;
    color: rgb(var(--clr-tertiary));
    background-color: rgba(var(--fnbo-light-green), 1);
}

.container .header .title {
    font-size: 6em;
    font-weight: 600;
    letter-spacing: -.45rem;
    padding-right: .2em;
}

.container .header .location {
    font-size: 2.4em;
    font-weight: 600;
}

.container .header .temperature,
.container .header .description {
    font-size: 2em;
    font-weight: 300;
}

.container .header .location::after {
    content: ',';
    padding-right: .25em;
}

.container .header .temperature::after {
    content: '°';
    padding-right: .25em;
}

.container .forecast {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;
}

.container .forecast .day {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-shadow: var(--drop-shadow);
    will-change: transform, opacity;
}

.container .forecast .day .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: soft-light;
    background-image: linear-gradient(200deg,
            rgba(var(--clr-secondary), .2),
            rgba(var(--clr-white), .6));
    /* display: none; */
}

.container .forecast .day:first-child {
    /* font-size: 110%; */
    padding: 0 2em;
}

.container .forecast .day video {
    /* padding: 0 .125em; */
    background-color: rgba(var(--clr-tertiary), 0.625);
    background-color: transparent;
}

.container .forecast .day:first-child video {
    padding-left: 0;
}

.container .forecast .day:last-child video {
    padding-right: 0;
}

.container .forecast .day .dayofweek {
    font-size: 2.5em;
    font-weight: 600;
    color: rgb(var(--clr-white));
    text-transform: uppercase;
    margin-top: 1em;
}

.container .forecast .day .icon {
    height: 7em;
    filter: drop-shadow(var(--drop-shadow)) contrast(200%);
    margin: .85em auto;
}

.container .forecast .day .highlow {
    line-height: .85;
    text-align: center;
    padding-top: 1.5em;
    letter-spacing: -.1em;
}

.container .forecast .day .htemp {
    font-size: 3.85em;
    font-weight: 600;
    color: rgb(var(--clr-white));
}

.container .forecast .day .ltemp {
    font-size: 3em;
    font-weight: 600;
    color: rgb(var(--clr-primary));
}

.container .htemp::after,
.container .ltemp::after {
    content: '°';
}

/** 
    Utility classes
**/

.hidden {
    display: none;
}

.visible {
    opacity: 1;
}

.fadeOut {
    transition: opacity var(--anime-duration);
    opacity: 0;
}

/*  Revealer layer colors  */

.revealer__layer.top {
    will-change: transform, opacity;
    background: var(--clr-revealer-layer-1);
}

.revealer__layer.middle {
    will-change: transform, opacity;
    background: var(--clr-revealer-layer-2);
}

.revealer__layer.bottom {
    will-change: transform, opacity;
    background: var(--clr-revealer-layer-3);
}


@media only screen and (orientation: portrait) {
    .container .forecast {
        position: relative;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .container .forecast .day {
        flex: 1 auto;
        /* margin-bottom: 1rem !important; */
    }

}