@font-face {
	font-family: 'HarmoniaSansProCyr-Black';
	src: url(../../assets/fonts/HarmoniaSansProCyr-Black.eot) format('embedded-opentype'),
	url(../../assets/fonts/HarmoniaSansProCyr-Black.eot) format('embedded-opentype'),
	url(../../assets/fonts/HarmoniaSansProCyr-Black.woff2) format('woff2'),
	url(../../assets/fonts/HarmoniaSansProCyr-Black.woff) format('woff'),
	url(../../assets/fonts/HarmoniaSansProCyr-Black.ttf) format('truetype');
	font-weight: 900;
	font-style: normal;
}