@font-face {
	font-family: 'HarmoniaSansProCyr-BoldIt';
	src: url(../../assets/fonts/HarmoniaSansProCyr-BoldIt.eot) format('embedded-opentype'),
	url(../../assets/fonts/HarmoniaSansProCyr-BoldIt.eot) format('embedded-opentype'),
	url(../../assets/fonts/HarmoniaSansProCyr-BoldIt.woff2) format('woff2'),
	url(../../assets/fonts/HarmoniaSansProCyr-BoldIt.woff) format('woff'),
	url(../../assets/fonts/HarmoniaSansProCyr-BoldIt.ttf) format('truetype');
	font-weight: bold;
	font-style: italic;
}