@font-face {
	font-family: 'HarmoniaSansProCyr-SemiBdIt';
	src: url(../../assets/fonts/HarmoniaSansProCyr-SemiBdIt.eot) format('embedded-opentype'),
	url(../../assets/fonts/HarmoniaSansProCyr-SemiBdIt.eot) format('embedded-opentype'),
	url(../../assets/fonts/HarmoniaSansProCyr-SemiBdIt.woff2) format('woff2'),
	url(../../assets/fonts/HarmoniaSansProCyr-SemiBdIt.woff) format('woff'),
	url(../../assets/fonts/HarmoniaSansProCyr-SemiBdIt.ttf) format('truetype');
	font-weight: 600;
	font-style: italic;
}