@font-face {
	font-family: 'HarmoniaSansProCyr-SemiBdCn';
	src: url(../../assets/fonts/HarmoniaSansProCyr-SemiBdCn.eot) format('embedded-opentype'),
	url(../../assets/fonts/HarmoniaSansProCyr-SemiBdCn.eot) format('embedded-opentype'),
	url(../../assets/fonts/HarmoniaSansProCyr-SemiBdCn.woff2) format('woff2'),
	url(../../assets/fonts/HarmoniaSansProCyr-SemiBdCn.woff) format('woff'),
	url(../../assets/fonts/HarmoniaSansProCyr-SemiBdCn.ttf) format('truetype');
	font-weight: 600;
	font-style: normal;
}