*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

:root.webster5 {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --white: #fff;
  --black: #000;
  --primary-bright_green: #97c93c;
  --primary-green: #387d3c;
  --primary-dark_green: #245529;
  --landing-green: #2b6a1f;
  --secondary-green: #6ca342;
  --secondary-dark_green: #23401c;
  --investment-light_light_blue: #7c95bf;
  --investment-light_blue: #007cba;
  --investment-blue: #003da6;
  --investment-dark_blue: #002d7b;
  --orange: #c88110;
  --yellow: #dd9625;
  --light_teal: #8cbeb4;
  --teal: #498f84;
  --purple: #9177b5;
  --error_red: #f85849;
  --green_table: #e2efd5;
  --dark_grey: #404040;
  --grey: #c2c2c2;
  --medium_light_grey: #e1e1e1;
  --light_grey: #f5f5f5;
  --border_grey: #dfe4ef;
  --blue_grey: #7f8fa4;
  --hr_grey: #cccdcd;
  --blockquote_grey: #edeeef;
  --light_white: #f0f6e8;
  --screen-primary-bright_green: rgba(151, 201, 60, 0.15);
  --screen-yellow: rgba(221, 150, 37, 0.15);
  --screen-teal: rgba(73, 143, 132, 0.15);
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

:root {
  --font-primary: 'Proxima Nova';
  --font-size: calc(1vw + 1vh);
  --font-weight: 600;
  --letter-spacing: -.2rem;
  --font-color: #fff;
  --clr-primary: var(--primary-green);
  --clr-secondary: var(--secondary-green);
  --clr-tertiary: var(--primary-dark_green);
  --drop-shadow: .2em .2em 0 rgba(0, 0, 0, 0);
  /* --drop-shadow: 0 .1em .1em rgba(0, 0, 0, 0.05); */
  --orange-gradient: linear-gradient(90deg, #D8532A, #E46F2B);
}

body {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* cursor: none; */
  /* user-select: none; */
  font-family: var(--font-primary);
  font-size: var(--font-size);
}

video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

section {
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--font-color);
  text-shadow: var(--drop-shadow);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  background-image: var(--orange-gradient);
  opacity: 0;
}

section,
section .flex-grid {
  display: flex;
  justify-content: center;
  gap: .5em;
  width: 100%;
}

section .flex-grid .col {
  display: flex;
  margin: 1.25em 0;
  height: 20vh;
}

section .flex-grid .col:nth-child(1) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 30vw;
  text-align: right;
  border: transparent;
}

section .flex-grid .col:nth-child(2) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between !important;
  padding: .85em;
  width: 33vw;
  border: .25rem solid var(--font-color);
}

section .flex-grid .col:nth-child(3) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end !important;
  padding: .85em;
  width: 25vw;
  border: .25rem solid var(--font-color);
}

section #marketData {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  line-height: 1;
}

section .company-name {
  font-size: 4em;
}

section .last {
  font-size: 2.25em;
}

section .change-icon {
  filter: drop-shadow(var(--drop-shadow));
}

section .change,
section .change-percent {
  font-size: 4em;
}

section .arrow-up {
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  border-bottom: 3.25em solid var(--font-color);
}

section .arrow-down {
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  border-top: 3.25em solid var(--font-color);
}

section #stock:nth-child(1) {
  animation-delay: 250ms;
}

section #stock:nth-child(2) {
  animation-delay: 500ms;
}

section #stock:nth-child(3) {
  animation-delay: 750ms;
}

@keyframes animate {
  0% {
    opacity: 0%;
    transform: translateY(100%);
  }

  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.paused {
  animation-play-state: paused;
}

.resume {
  animation-play-state: running;
}