@font-face {
    font-family: 'Gotham HTF';
    src: url('../fonts/GothamHTF-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF Condensed';
    src: url('../fonts/GothamHTF-BoldCondensed.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('../fonts/GothamHTF-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('../fonts/GothamHTF-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('../fonts/GothamHTF-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF Condensed';
    src: url('../fonts/GothamHTF-MediumCondensed.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('../fonts/GothamHTF-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('../fonts/GothamHTF-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('../fonts/GothamHTF-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF Light Condensed';
    src: url('../fonts/GothamHTF-LightCondensed.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('../fonts/GothamHTF-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF Book';
    src: url('../fonts/GothamHTF-Book.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('../fonts/GothamHTF-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF Book';
    src: url('../fonts/GothamHTF-BookItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF Book Condensed';
    src: url('../fonts/GothamHTF-BookCondensed.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF XLight';
    src: url('../fonts/GothamHTF-XLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF XLight';
    src: url('../fonts/GothamHTF-XLightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF Ultra';
    src: url('../fonts/GothamHTF-UltraItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('../fonts/GothamHTF-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham HTF Ultra';
    src: url('../fonts/GothamHTF-Ultra.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

