*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: 0, 121, 193;
  --clr-secondary: 0, 25, 40;
  --clr-tertiary: 245, 246, 247;
  --clr-quaternary: 40, 40, 40;
  --clr-light: 255, 255, 255;
  --clr-dark: 0, 0, 0;
  --font-family: 'Heebo', 'DaxPro', sans-serif;
  --font-size: calc(1vw + 1vh);
  --drop-shadow: 0.1em 0.1em 0.1em rgba(var(--clr-secondary), 0);
  --clr-revealer-layer-1: rgba(var(--clr-primary), 0.8);
  --clr-revealer-layer-2: rgba(var(--clr-secondary), 0.8);
  --clr-revealer-layer-3: rgba(var(--clr-tertiary), 0.8);
  --revealer-speed: 2000ms;
  --revealer-opacity: 0.9;
  --revealer: 1;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  cursor: none;
  user-select: none;
  font-size: var(--font-size);
  font-family: var(--font-family);
  background: rgb(var(--clr-primary));
  color: rgba(var(--clr-light), 1);
  letter-spacing: -0.05em;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

video::-webkit-media-controls {
  opacity: 0;
  display: none !important;
}

#template {
  display: none;
}

.container .header {
  height: 25%;
}

.container .forecast {
  height: 75%;
}

.container,
.background,
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container .primary.background video {
  filter: grayscale(1);
  /* display: none; */
}

.container .primary.background .overlay {
  background-color: rgba(var(--clr-primary), 0.8);
  /* mix-blend-mode: soft-light; */
  /* backdrop-filter: blur(5px); */
  /* display: none; */
}

.container .header {
  display: flex;
  align-items: flex-end;
  flex-basis: 100%;
  background-color: rgba(var(--clr-secondary), 0.25);
  opacity: 0;
  overflow: hidden;
  will-change: transform, opacity;
}

.container .header .wrap {
  padding: 0.5em 3em;
  width: 100%;
  color: rgb(var(--clr-light));
  text-shadow: var(--drop-shadow);
  /* box-shadow: var(--drop-shadow); */
}

.container .header .wrap > div {
  display: inline-block;
  line-height: 1;
}

.container .header .title {
  font-size: 6em;
  font-weight: 500;
  letter-spacing: -0.035em;
}

@media only screen and (orientation: portrait) {
  .container .header .title {
    display: block !important;
  }
}

.container .header .location {
  font-size: 2.5em;
  font-weight: 500;
}

.container .header .temperature {
  font-size: 2.5em;
  font-weight: 300;
}

.container .header .title::after {
  content: "\00a0";
}

.container .header .location::after {
  content: ",\00a0";
}

.container .forecast {
  --gap: 0em;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 20%;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  margin-left: var(--gap);
  margin-right: var(--gap);
  padding: calc(var(--gap) * 2);
}

@media only screen and (orientation: portrait) {
  .container .forecast {
    grid-auto-flow: row;
    grid-auto-rows: 20%;
    grid-auto-columns: 100%;
  }
}

.container .forecast .day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  min-height: 100%;
  overflow: hidden;
  text-shadow: var(--drop-shadow);
  will-change: transform, opacity;
}

.container .forecast .day:nth-child(1) {
    grid-auto-columns: 50%;
}

@media only screen and (orientation: portrait) {
  .container .forecast .day {
    flex-direction: row;
  }
}

.container .forecast .day .overlay {
  /* display: none; */
  background-image: linear-gradient(
    180deg,
    rgba(var(--clr-primary), 0.8) 0%,
    rgba(var(--clr-tertiary), 0.5)
  );
}

.container .forecast .day .dayofweek {
  font-size: 3em;
  font-weight: 600;
  text-transform: uppercase;
  /* color: rgb(var(--clr-light)); */
}

.container .forecast .day img.icon {
  width: auto;
  height: 8em;
  filter: drop-shadow(var(--drop-shadow));
}

.container .forecast .day .htemp {
  font-size: 4em;
  font-weight: 600;
  line-height: 1.5;
  /* color: rgb(var(--clr-light)); */
}

.container .forecast .day .ltemp {
  font-size: 3.5em;
  font-weight: 600;
  line-height: 0.5;
  color: rgb(var(--clr-secondary));
}

/** 
    Utility classes
**/

.hidden {
  display: none;
}

.visible {
  opacity: 1;
}

.fadeOut {
  transition: opacity var(--anime-duration);
  opacity: 0;
}

/*  Revealer layer colors  */

.revealer__layer.top {
  will-change: transform, opacity;
  background: var(--clr-revealer-layer-1);
}

.revealer__layer.middle {
  will-change: transform, opacity;
  background: var(--clr-revealer-layer-2);
}

.revealer__layer.bottom {
  will-change: transform, opacity;
  background: var(--clr-revealer-layer-3);
}
