:root {
  --font-primary: 'DaxPro';
  --clr-primary: rgba(0,121,193,0.9);
  --clr-secondary: rgba(255,255,255,0.9);
  --background: rgba(0,121,193,1.0);
  --aos-duration: 1000ms;
  --aos-delay: 500ms;
  --revealer-enabled: 1;
  --revealer-speed: calc(var(--aos-duration) + var(--aos-delay));
  --intro-video: 0;
  --article-duration: 6000ms;
  --article-limit: 10;
  --feed-type: weather;
  --feed-style: modern;
}

.video-container {
  position: absolute;
  /*background-image: url('https://source.unsplash.com/weekly?water');*/
  background-image: url('../../assets/img/bg_Bokeh_1920x1080.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.roundel-container {
  position: absolute;
  margin-top: 10%;
  margin-left: 70%;
  width: auto;
  height: auto;
}

h1.roundel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 7em;
  color: #fff;
  width: 4em;
  height: 4em;
}

.roundel .tagline {
  font-size: 1em;
}

.roundel .letters {
  position: relative;
  z-index: 2;
  display: block;
  line-height: 1em;
  top: -50%;
  font-size: 1.2ch;
  font-weight: 100;
}

.roundel .line-2 {
  font-weight: 500;
}

.roundel .circle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

.roundel .circle-white {
  width: 50%;
  height: 50%;
  border: 2px solid white;
  border-radius: 50%;
}

.roundel .circle-dark {
  width: 95%;
  height: 95%;
  background-color: #0079c1;
  background-color: #ED1D24;
  opacity: .8;
  border-radius: 50%;
  z-index: 1;
}

.roundel .circle-dark-dashed {
  border-radius: 50%;
  background-color: transparent;
  border: .1rem solid #ffffff;
  width: 100%;
  height: 100%;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.location, .category {
  display: block;
  font-size: calc(2vw + 2vh);
  font-weight: 400;
  color: #fff;
  line-height: 1.2;
}

.footer-container {
  z-index: 10;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
}

.footer-wrapper {
  display: flex;
  justify-content: initial;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #0079c1;
}

.footer-top {
  position: absolute;
  width: 100%;
  height: 20%;
  margin-top: -1.85%;
  background: #ffffff;
  clip-path: polygon(0 60%, 83.5% 60%, 85% 5%, 86.5% 60%, 100% 60%, 100% 100%, 86% 100%, 85% 60%, 84% 100%, 0 100%);
}

.brand-logo {
  max-width: 100%;
  height: 100%;
}

.footer-right {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 1em 3em;
  text-align: right;
}

.footer-left {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 1em 2em;
}

.brand-tagline {
  position: absolute;
  bottom: 0;
  display: block;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: -.45em;
  padding-left: 1.35em;
}

.brand-tagline::after {
  position: absolute;
  bottom: 1em;
  right: -.5em;
  display: inline-block;
  white-space: nowrap;
  content: '™';
  font-size: .5em;
}

.content {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: 'DaxPro';
  cursor: default;
  user-select: none;
  overflow: hidden;
}

#transition.revealer--right {
  width: 100vh;
  height: 100vw;
  transform: translate3d(-50%, -50%, 0px) rotate3d(0, 0, 1, -90deg) translate3d(0px, 100%, 0px);
}

#transition.revealer--bottom {
  width: 100vw;
  height: 100vh;
  transform: none;
}

#transition.revealer--top {
  width: 100vw;
  height: 100vh;
  transform: rotate3d(0, 0, 1, 180deg);
}

#transition.revealer--left {
  width: 100vh;
  height: 100vw;
  transform: translate3d(-50%, -50%, 0px) rotate3d(0, 0, 1, 90deg) translate3d(0px, 100%, 0px);
}

@media (min-width: 2160px) {
  #weather {
    position: absolute;
    top: 2vw !important;
    left: 4vw !important;
    width: 50vw !important;
    height: 59vh !important;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 4080px) {
  .footer-container {
    position: absolute;
    right: 0!important;
    width: 33.33%;
    height: 100%;
  }
}

@media (min-width: 4080px) {
  .footer-right {
    display: none;
  }
}

@media (min-width: 4080px) {
  #weather {
    top: 0 !important;
    left: 33.33% !important;
    bottom: auto;
    right: auto;
    width: 33.33% !important;
    height: 100% !important;
  }
}

@media (min-width: 4080px) {
  .footer-top {
    clip-path: none;
    width: 2.2em;
    /*right: 100%;*/
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }
}

@media (min-width: 4080px) {
  .brand-logo {
    margin-left: 1em;
  }
}

@media (min-width: 4080px) {
  .footer-left {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    align-self: center;
    align-items: center;
    padding: 0;
  }
}

@media (min-width: 4080px) {
  h1.roundel {
    font-size: 10em;
  }
}

@media (max-width: 1024px) {
  h1.roundel {
    font-size: 4em;
  }
}

@media (min-width: 4080px) {
  .forecast-day {
    /*font-size: calc(.5vw + 1vh) !important;*/
  }
}

@media (min-width: 4080px) {
  .high-temp {
    font-size: calc(.67vw + 1vh) !important;
  }
}

@media (min-width: 4080px) {
  .low-temp {
    font-size: calc(.67vw + 1vh) !important;
  }
}

@media (max-width: 1024px) {
  .roundel-container {
    margin-top: 15%;
    margin-left: 69%;
  }
}

@media (min-width: 4080px) {
  .roundel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 100%;
    margin: 0;
  }
}

@media (min-width: 4080px) {
  #weather {
    box-shadow: none !important;
  }
}

