body {
  position: static;
  width: 100vw;
  height: 100vh;
  background: var(--background);
  font-family: var(--font-primary);
  font-size: 2ch;
  overflow: hidden;
}

.daywrap {
  width: 100%;
  height: 100%;
  padding: .5em;
  background: rgba(49,54,60,0.7);
  backdrop-filter: blur(5px);
  outline: .25em solid rgba(255,255,255,0.1);
}

.forecast-day {
  font-size: calc(.5vw + 1.5vh);
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: .25em;
}

.day-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  margin-top: -1em;
  margin-bottom: .5em;
  background: rgb(2,2,2);
  clip-path: polygon(0 0, 100% 0%, 99.5% 80%, 50% 95%, .5% 80%);
}

.icon {
  height: 100%;
  filter: grayscale(100%) brightness(1000%);
}

.description {
  font-size: calc(.5vw + .5vh);
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}

.high-temp {
  color: #fff;
  font-size: calc(1vw + 1.5vh);
  font-weight: bold;
  text-transform: uppercase;
  margin-left: .1em;
}

.low-temp {
  color: #fff;
  font-size: calc(1vw + 1.5vh);
  font-weight: bold;
  text-transform: uppercase;
  /*margin-top: .1em;*/
  margin-left: .1em;
}

.temp-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 70%;
  margin-left: 5%;
  background: rgba(255,255,255,0.1);
  float: left;
}

.weather-img {
  width: 100%;
  height: 100%;
  padding: 0;
  background: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 20px 10px rgba(0,121,193,0.35);
}

.high-temp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55%;
  background: rgba(0,0,0,0.5);
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 50% 95%, 0% 80%);
}

.day {
  /*padding: .25em;*/
  padding-right: .1em;
  padding-left: .1em;
}

#forecast {
  position: absolute;
  bottom: 5%;
  width: 100%;
  height: auto;
  margin-right: 0;
  margin-left: 0;
  padding-left: 6%;
  padding-right: 6%;
}

@media (max-width: 1024px) {
  #forecast {
    padding: 0em 1em;
  }
}

@media (min-width: 3840px) and (min-height: 1080px) {
  #forecast {
    padding: 0em 8em;
  }
}

@media (min-width: 3840px) and (min-height: 2160px) {
  #forecast {
    /*height: 35%;*/
    /*padding: 8em 25em;*/
  }
}

@media (min-width: 4080px) {
  #forecast {
    height: 30%;
    padding: 1em 6em;
  }
}

.low-temp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.conditions {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50%;
  height: 70%;
  margin-top: 0%;
  margin-right: 2%;
  background: rgba(255,255,255,0);
  float: right;
}

.iconwrap {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 65%;
}

.description-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
}

#intro {
  /*z-index: 1000;*/
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#intro video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100%;
  /*background: transparent url('../../assets/img/default.jpg') 50% 50% / cover no-repeat;*/
  background: transparent url('../../assets/img/bg_Bokeh_1920x1080.png') 50% 50% / cover no-repeat;
  object-fit: cover;
  object-position: center center;
}

#weather {
  z-index: 2;
  position: absolute;
  top: 4vw;
  left: 4vw;
  width: 62vw;
  height: 62vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 0px 0px 20px 10px rgba(0,121,193,0.35);
}

@media (max-width: 1024px) {
  .footer-top {
    margin-top: -2.5%;
  }
}

#transition.revealer--left {
  width: 100vh;
  height: 100vw;
  transform: translate3d(-50%, -50%, 0px) rotate3d(0, 0, 1, 90deg) translate3d(0px, 100%, 0px);
}

.overlay-primary {
  background: var(--clr-primary);
}

.overlay-secondary {
  background: var(--clr-secondary);
}

#transition.revealer--left {
  width: 100vh;
  height: 100vw;
  transform: translate3d(-50%, -50%, 0px) rotate3d(0, 0, 1, 90deg) translate3d(0px, 100%, 0px);
}

